body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color2);
  background-color: var(--color5);
  font-size: larger;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color1: #5E7CE2;
  --color2: #f4f5ff;
  --color3: #CFDEE7;
  --color4: #92B4F4;
  --color5: #3A3B3c;    
}

h1, h2 {
  color: var(--color4);
}

/* header */

header {
  background-image: url("./assets/background/background.jpg");
}

/* nav */

li {
  list-style: none;
}

nav  li {
  cursor: pointer;
  color: var(--color4);
}

.navActive {
  color: var(--color3);
}

/* portfolio */

.project-container a {
  text-decoration: none;
  color: var(--color2);
}

.projectcard {
  background-size: cover;
  height: 200px;
}

.projectbox {
  z-index: 2;
  background-color: var(--color1);
}

.project1 {
  background-image: url("./assets/cards/card1.png");
}

.project2 {
  background-image: url("./assets//cards/card2.png");
}

.project3 {
  background-image: url("./assets//cards/card3.jpg");
}

.project4 {
  background-image: url("./assets//cards/card4.jpg");
  background-position: center;
}

.project5 {
  background-image: url("./assets//cards/card5.jpg");
}

.project6 {
  background-image: url("./assets//cards/card6.jpg");
  background-position: center;
}

/* footer */

footer a {
  text-decoration: none;
  color: var(--color4);
}