body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color4);
  background-color: var(--color5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color1: #5E7CE2;
  --color2: #f4f5ff;
  --color3: #CFDEE7;
  --color4: #92B4F4;
  --color5: #3A3B3c;    
}

/* header */

header {
  background-image: url("./assets/background/background.jpg");
}

/* nav */

li {
  list-style: none;
}

nav  li {
  cursor: pointer;
}

.navActive {
  color: var(--color3);
}